body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8295 {
  position:absolute;
  left:100px;
  top:100px;
  width:197px;
  height:28px;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8296 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u8297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:678px;
}
#u8297 {
  position:absolute;
  left:100px;
  top:340px;
  width:375px;
  height:678px;
}
#u8298 {
  position:absolute;
  left:2px;
  top:331px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
  line-height:28px;
}
#u8299 {
  position:absolute;
  left:100px;
  top:180px;
  width:600px;
  height:140px;
  font-size:18px;
  color:#CCCCCC;
  line-height:28px;
}
#u8300 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
