body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6831 {
  position:absolute;
  left:1066px;
  top:100px;
  width:375px;
  height:667px;
}
#u6832 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6833 {
  position:absolute;
  left:1066px;
  top:100px;
  width:375px;
  height:20px;
}
#u6834 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6836 {
  position:absolute;
  left:1066px;
  top:120px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6837 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u6838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6839 {
  position:absolute;
  left:1104px;
  top:244px;
  width:300px;
  height:24px;
}
#u6840 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6841 {
  position:absolute;
  left:1104px;
  top:278px;
  width:180px;
  height:24px;
}
#u6842 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6843 {
  position:absolute;
  left:1104px;
  top:320px;
  width:300px;
  height:24px;
}
#u6844 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6845 {
  position:absolute;
  left:1104px;
  top:354px;
  width:300px;
  height:24px;
}
#u6846 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6847 {
  position:absolute;
  left:1104px;
  top:388px;
  width:300px;
  height:24px;
}
#u6848 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6849 {
  position:absolute;
  left:1104px;
  top:422px;
  width:160px;
  height:24px;
}
#u6850 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:184px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6851 {
  position:absolute;
  left:1104px;
  top:464px;
  width:300px;
  height:184px;
}
#u6852 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6853 {
  position:absolute;
  left:1104px;
  top:658px;
  width:300px;
  height:24px;
}
#u6854 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6855 {
  position:absolute;
  left:1104px;
  top:692px;
  width:300px;
  height:24px;
}
#u6856 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6857 {
  position:absolute;
  left:1104px;
  top:726px;
  width:240px;
  height:24px;
}
#u6858 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6859 {
  position:absolute;
  left:1104px;
  top:174px;
  width:300px;
  height:60px;
}
#u6860 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6861 {
  position:absolute;
  left:1066px;
  top:100px;
  width:375px;
  height:667px;
}
#u6862 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6864 {
  position:absolute;
  left:1121px;
  top:100px;
  width:320px;
  height:667px;
}
#u6865 {
  position:absolute;
  left:2px;
  top:326px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6867 {
  position:absolute;
  left:1141px;
  top:237px;
  width:280px;
  height:24px;
}
#u6868 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6869 {
  position:absolute;
  left:1141px;
  top:271px;
  width:280px;
  height:24px;
}
#u6870 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6871 {
  position:absolute;
  left:1141px;
  top:313px;
  width:280px;
  height:24px;
}
#u6872 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6873 {
  position:absolute;
  left:1141px;
  top:347px;
  width:280px;
  height:24px;
}
#u6874 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6875 {
  position:absolute;
  left:1141px;
  top:381px;
  width:280px;
  height:24px;
}
#u6876 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6877 {
  position:absolute;
  left:1141px;
  top:415px;
  width:280px;
  height:24px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:184px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6879 {
  position:absolute;
  left:1141px;
  top:457px;
  width:280px;
  height:184px;
}
#u6880 {
  position:absolute;
  left:2px;
  top:84px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6881 {
  position:absolute;
  left:1141px;
  top:651px;
  width:280px;
  height:24px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6883 {
  position:absolute;
  left:1141px;
  top:685px;
  width:280px;
  height:24px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6885 {
  position:absolute;
  left:1141px;
  top:719px;
  width:280px;
  height:24px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:103px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6887 {
  position:absolute;
  left:1141px;
  top:124px;
  width:280px;
  height:103px;
}
#u6888 {
  position:absolute;
  left:2px;
  top:44px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:100px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  line-height:18px;
}
#u6890 {
  position:absolute;
  left:1081px;
  top:679px;
  width:40px;
  height:50px;
  font-size:20px;
  line-height:18px;
}
#u6891 {
  position:absolute;
  left:10px;
  top:16px;
  width:30px;
  word-wrap:break-word;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6892 {
  position:absolute;
  left:600px;
  top:1700px;
  width:375px;
  height:667px;
}
#u6893 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6894 {
  position:absolute;
  left:600px;
  top:1700px;
  width:375px;
  height:20px;
}
#u6895 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6897 {
  position:absolute;
  left:600px;
  top:1720px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6898 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u6899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6900 {
  position:absolute;
  left:638px;
  top:1844px;
  width:300px;
  height:24px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6902 {
  position:absolute;
  left:638px;
  top:1878px;
  width:180px;
  height:24px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6904 {
  position:absolute;
  left:638px;
  top:1920px;
  width:300px;
  height:24px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6906 {
  position:absolute;
  left:638px;
  top:1954px;
  width:300px;
  height:24px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6908 {
  position:absolute;
  left:638px;
  top:1988px;
  width:300px;
  height:24px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6910 {
  position:absolute;
  left:638px;
  top:2022px;
  width:160px;
  height:24px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:184px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6912 {
  position:absolute;
  left:638px;
  top:2064px;
  width:300px;
  height:184px;
}
#u6913 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6914 {
  position:absolute;
  left:638px;
  top:2258px;
  width:300px;
  height:24px;
}
#u6915 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6916 {
  position:absolute;
  left:638px;
  top:2292px;
  width:300px;
  height:24px;
}
#u6917 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6918 {
  position:absolute;
  left:638px;
  top:2326px;
  width:240px;
  height:24px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6920 {
  position:absolute;
  left:638px;
  top:1774px;
  width:300px;
  height:60px;
}
#u6921 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border-radius:25px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6922 {
  position:absolute;
  left:900px;
  top:2279px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6923 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u6924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6924 {
  position:absolute;
  left:600px;
  top:900px;
  width:375px;
  height:667px;
}
#u6925 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6926 {
  position:absolute;
  left:601px;
  top:900px;
  width:375px;
  height:20px;
}
#u6927 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6929 {
  position:absolute;
  left:638px;
  top:1044px;
  width:300px;
  height:24px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6931 {
  position:absolute;
  left:638px;
  top:1078px;
  width:180px;
  height:24px;
}
#u6932 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6933 {
  position:absolute;
  left:638px;
  top:1120px;
  width:300px;
  height:24px;
}
#u6934 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6935 {
  position:absolute;
  left:638px;
  top:1154px;
  width:300px;
  height:24px;
}
#u6936 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6937 {
  position:absolute;
  left:638px;
  top:1188px;
  width:300px;
  height:24px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6939 {
  position:absolute;
  left:638px;
  top:1222px;
  width:160px;
  height:24px;
}
#u6940 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:184px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6941 {
  position:absolute;
  left:638px;
  top:1264px;
  width:300px;
  height:184px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6943 {
  position:absolute;
  left:638px;
  top:1458px;
  width:300px;
  height:24px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6945 {
  position:absolute;
  left:638px;
  top:1492px;
  width:300px;
  height:24px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6947 {
  position:absolute;
  left:638px;
  top:1526px;
  width:240px;
  height:24px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6949 {
  position:absolute;
  left:638px;
  top:974px;
  width:300px;
  height:60px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u6951 {
  position:absolute;
  left:600px;
  top:2380px;
  width:144px;
  height:20px;
  font-size:14px;
  color:#CCCCCC;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u6953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u6953 {
  position:absolute;
  left:601px;
  top:1580px;
  width:141px;
  height:20px;
  font-size:14px;
  color:#CCCCCC;
}
#u6954 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u6955 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:112px;
  color:#CCCCCC;
  line-height:28px;
}
#u6956 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u6957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6957 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:667px;
}
#u6958 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6959 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:20px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6962 {
  position:absolute;
  left:638px;
  top:244px;
  width:300px;
  height:24px;
}
#u6963 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6964 {
  position:absolute;
  left:638px;
  top:278px;
  width:180px;
  height:24px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6966 {
  position:absolute;
  left:638px;
  top:320px;
  width:300px;
  height:24px;
}
#u6967 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6968 {
  position:absolute;
  left:638px;
  top:354px;
  width:300px;
  height:24px;
}
#u6969 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6970 {
  position:absolute;
  left:638px;
  top:388px;
  width:300px;
  height:24px;
}
#u6971 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6972 {
  position:absolute;
  left:638px;
  top:422px;
  width:160px;
  height:24px;
}
#u6973 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:184px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6974 {
  position:absolute;
  left:638px;
  top:464px;
  width:300px;
  height:184px;
}
#u6975 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6976 {
  position:absolute;
  left:638px;
  top:658px;
  width:300px;
  height:24px;
}
#u6977 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6978 {
  position:absolute;
  left:638px;
  top:692px;
  width:300px;
  height:24px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6980 {
  position:absolute;
  left:638px;
  top:726px;
  width:240px;
  height:24px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6982 {
  position:absolute;
  left:638px;
  top:174px;
  width:300px;
  height:60px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984 {
  position:absolute;
  left:965px;
  top:188px;
  width:0px;
  height:0px;
}
#u6984_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:63px;
  height:8px;
}
#u6984_seg1 {
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:254px;
}
#u6984_seg2 {
  position:absolute;
  left:51px;
  top:242px;
  width:54px;
  height:8px;
}
#u6984_seg3 {
  position:absolute;
  left:83px;
  top:232px;
  width:29px;
  height:28px;
}
#u6985 {
  position:absolute;
  left:5px;
  top:110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6986 {
  position:absolute;
  left:987px;
  top:1139px;
  width:0px;
  height:0px;
}
#u6986_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:42px;
  height:8px;
}
#u6986_seg1 {
  position:absolute;
  left:29px;
  top:-709px;
  width:8px;
  height:713px;
}
#u6986_seg2 {
  position:absolute;
  left:29px;
  top:-709px;
  width:54px;
  height:8px;
}
#u6987 {
  position:absolute;
  left:-17px;
  top:-367px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988 {
  position:absolute;
  left:600px;
  top:1700px;
  visibility:hidden;
}
#u6988_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6988_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6989 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6990 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6991 {
  position:absolute;
  left:975px;
  top:1700px;
}
#u6991_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6991_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6993 {
  position:absolute;
  left:40px;
  top:0px;
  width:320px;
  height:667px;
}
#u6994 {
  position:absolute;
  left:2px;
  top:326px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6996 {
  position:absolute;
  left:60px;
  top:137px;
  width:280px;
  height:24px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6998 {
  position:absolute;
  left:60px;
  top:171px;
  width:280px;
  height:24px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7000 {
  position:absolute;
  left:60px;
  top:213px;
  width:280px;
  height:24px;
}
#u7001 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7002 {
  position:absolute;
  left:60px;
  top:247px;
  width:280px;
  height:24px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7004 {
  position:absolute;
  left:60px;
  top:281px;
  width:280px;
  height:24px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7006 {
  position:absolute;
  left:60px;
  top:315px;
  width:280px;
  height:24px;
}
#u7007 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:184px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7008 {
  position:absolute;
  left:60px;
  top:357px;
  width:280px;
  height:184px;
}
#u7009 {
  position:absolute;
  left:2px;
  top:84px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7010 {
  position:absolute;
  left:60px;
  top:551px;
  width:280px;
  height:24px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7012 {
  position:absolute;
  left:60px;
  top:585px;
  width:280px;
  height:24px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7014 {
  position:absolute;
  left:60px;
  top:619px;
  width:280px;
  height:24px;
}
#u7015 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:103px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7016 {
  position:absolute;
  left:60px;
  top:24px;
  width:280px;
  height:103px;
}
#u7017 {
  position:absolute;
  left:2px;
  top:44px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:100px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  line-height:18px;
}
#u7019 {
  position:absolute;
  left:0px;
  top:579px;
  width:40px;
  height:50px;
  font-size:20px;
  line-height:18px;
}
#u7020 {
  position:absolute;
  left:10px;
  top:16px;
  width:30px;
  word-wrap:break-word;
}
#u7021 {
  position:absolute;
  left:0px;
  top:579px;
  width:40px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7022 {
  position:absolute;
  left:975px;
  top:1700px;
  width:375px;
  height:667px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u7024 {
  position:absolute;
  left:600px;
  top:777px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u7025 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7028 {
  position:absolute;
  left:600px;
  top:120px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7029 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u7030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7031 {
  position:absolute;
  left:907px;
  top:129px;
  width:24px;
  height:24px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u7033 {
  position:absolute;
  left:900px;
  top:137px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7034 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7035 {
  position:absolute;
  left:941px;
  top:130px;
  width:24px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7039 {
  position:absolute;
  left:600px;
  top:920px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u7041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7042 {
  position:absolute;
  left:907px;
  top:929px;
  width:24px;
  height:24px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u7044 {
  position:absolute;
  left:900px;
  top:937px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7045 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7046 {
  position:absolute;
  left:941px;
  top:930px;
  width:24px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u7048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.6);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7048 {
  position:absolute;
  left:907px;
  top:900px;
  width:70px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7049 {
  position:absolute;
  left:2px;
  top:306px;
  width:66px;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:79px;
}
#u7050 {
  position:absolute;
  left:897px;
  top:1099px;
  width:90px;
  height:79px;
  color:#000000;
}
#u7051 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:69px;
}
#u7052 {
  position:absolute;
  left:915px;
  top:153px;
  width:50px;
  height:69px;
  color:#000000;
}
#u7053 {
  position:absolute;
  left:2px;
  top:26px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
