body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(68, 138, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8812 {
  position:absolute;
  left:610px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8813 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8814 {
  position:absolute;
  left:610px;
  top:215px;
  width:375px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8815 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  word-wrap:break-word;
}
#u8816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u8816 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:224px;
  color:#CCCCCC;
  line-height:28px;
}
#u8817 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u8818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:83px;
}
#u8818 {
  position:absolute;
  left:850px;
  top:280px;
  width:60px;
  height:83px;
  color:#000000;
}
#u8819 {
  position:absolute;
  left:2px;
  top:34px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(68, 138, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8820 {
  position:absolute;
  left:1070px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8821 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8822 {
  position:absolute;
  left:1070px;
  top:215px;
  width:375px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8823 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  word-wrap:break-word;
}
#u8824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8825 {
  position:absolute;
  left:1320px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8826 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8829 {
  position:absolute;
  left:1320px;
  top:100px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8830 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8832 {
  position:absolute;
  left:1320px;
  top:100px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8833 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8834 {
  position:absolute;
  left:1320px;
  top:110px;
  width:24px;
  height:24px;
}
#u8835 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8837 {
  position:absolute;
  left:2136px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8838 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8841 {
  position:absolute;
  left:2136px;
  top:100px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8842 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8844 {
  position:absolute;
  left:2136px;
  top:100px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8845 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8846 {
  position:absolute;
  left:2136px;
  top:110px;
  width:24px;
  height:24px;
}
#u8847 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8848 {
  position:absolute;
  left:1505px;
  top:100px;
  width:190px;
  height:667px;
}
#u8849 {
  position:absolute;
  left:2px;
  top:326px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8850 {
  position:absolute;
  left:410px;
  top:900px;
  width:90px;
  height:28px;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8851 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8852 {
  position:absolute;
  left:1060px;
  top:100px;
  width:70px;
  height:667px;
}
#u8853 {
  position:absolute;
  left:2px;
  top:326px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:83px;
}
#u8854 {
  position:absolute;
  left:2166px;
  top:120px;
  width:60px;
  height:83px;
  color:#000000;
}
#u8855 {
  position:absolute;
  left:2px;
  top:34px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8856 {
  position:absolute;
  left:2196px;
  top:203px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8856_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u8856_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:635px;
}
#u8856_seg2 {
  position:absolute;
  left:-880px;
  top:623px;
  width:884px;
  height:8px;
}
#u8856_seg3 {
  position:absolute;
  left:-880px;
  top:567px;
  width:8px;
  height:64px;
}
#u8856_seg4 {
  position:absolute;
  left:-886px;
  top:560px;
  width:20px;
  height:21px;
}
#u8857 {
  position:absolute;
  left:-204px;
  top:609px;
  width:100px;
  word-wrap:break-word;
}
#u8858 {
  position:absolute;
  left:1258px;
  top:767px;
  width:0px;
  height:0px;
}
#u8858_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u8858_seg1 {
  position:absolute;
  left:-464px;
  top:59px;
  width:468px;
  height:8px;
}
#u8858_seg2 {
  position:absolute;
  left:-464px;
  top:0px;
  width:8px;
  height:67px;
}
#u8858_seg3 {
  position:absolute;
  left:-470px;
  top:-7px;
  width:20px;
  height:21px;
}
#u8859 {
  position:absolute;
  left:-280px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8861 {
  position:absolute;
  left:1645px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8862 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8865 {
  position:absolute;
  left:1645px;
  top:100px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8866 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8868 {
  position:absolute;
  left:1645px;
  top:100px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8869 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8870 {
  position:absolute;
  left:1645px;
  top:110px;
  width:24px;
  height:24px;
}
#u8871 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8872 {
  position:absolute;
  left:1645px;
  top:144px;
  width:70px;
  height:623px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8873 {
  position:absolute;
  left:2px;
  top:276px;
  width:66px;
  word-wrap:break-word;
}
#u8874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:82px;
}
#u8874 {
  position:absolute;
  left:1660px;
  top:518px;
  width:60px;
  height:82px;
  color:#000000;
}
#u8875 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8876 {
  position:absolute;
  left:1320px;
  top:100px;
  width:0px;
  height:0px;
}
#u8876_seg0 {
  position:absolute;
  left:-4px;
  top:-64px;
  width:8px;
  height:64px;
}
#u8876_seg1 {
  position:absolute;
  left:-4px;
  top:-64px;
  width:521px;
  height:8px;
}
#u8876_seg2 {
  position:absolute;
  left:509px;
  top:-64px;
  width:8px;
  height:64px;
}
#u8876_seg3 {
  position:absolute;
  left:503px;
  top:-14px;
  width:20px;
  height:21px;
}
#u8877 {
  position:absolute;
  left:206px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8878 {
  position:absolute;
  left:1690px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8878_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:234px;
}
#u8878_seg1 {
  position:absolute;
  left:-374px;
  top:226px;
  width:378px;
  height:8px;
}
#u8878_seg2 {
  position:absolute;
  left:-374px;
  top:170px;
  width:8px;
  height:64px;
}
#u8878_seg3 {
  position:absolute;
  left:-380px;
  top:163px;
  width:20px;
  height:21px;
}
#u8879 {
  position:absolute;
  left:-150px;
  top:210px;
  width:100px;
  word-wrap:break-word;
}
#u8880 {
  position:absolute;
  left:880px;
  top:280px;
  width:0px;
  height:0px;
}
#u8880_seg0 {
  position:absolute;
  left:-4px;
  top:-244px;
  width:8px;
  height:244px;
}
#u8880_seg1 {
  position:absolute;
  left:-4px;
  top:-244px;
  width:386px;
  height:8px;
}
#u8880_seg2 {
  position:absolute;
  left:374px;
  top:-244px;
  width:8px;
  height:64px;
}
#u8880_seg3 {
  position:absolute;
  left:368px;
  top:-194px;
  width:20px;
  height:21px;
}
#u8881 {
  position:absolute;
  left:49px;
  top:-248px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u8882 {
  position:absolute;
  left:1020px;
  top:900px;
  width:320px;
  height:569px;
}
#u8883 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8884 {
  position:absolute;
  left:610px;
  top:1479px;
  width:320px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8885 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u8886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u8886 {
  position:absolute;
  left:610px;
  top:900px;
  width:320px;
  height:569px;
}
#u8887 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8888 {
  position:absolute;
  left:1020px;
  top:1479px;
  width:320px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8889 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u8890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
  line-height:28px;
}
#u8890 {
  position:absolute;
  left:100px;
  top:1700px;
  width:400px;
  height:168px;
  font-size:18px;
  color:#CCCCCC;
  line-height:28px;
}
#u8891 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u8892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:827px;
}
#u8892 {
  position:absolute;
  left:600px;
  top:1700px;
  width:411px;
  height:827px;
}
#u8893 {
  position:absolute;
  left:2px;
  top:406px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8894 {
  position:absolute;
  left:617px;
  top:1773px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8895 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8896 {
  position:absolute;
  left:617px;
  top:1773px;
  width:375px;
  height:20px;
}
#u8897 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8900 {
  position:absolute;
  left:617px;
  top:1793px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8901 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8903 {
  position:absolute;
  left:617px;
  top:1793px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8904 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8905 {
  position:absolute;
  left:617px;
  top:1803px;
  width:24px;
  height:24px;
}
#u8906 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8907 {
  position:absolute;
  left:958px;
  top:1803px;
  width:24px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8908 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u8909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8909 {
  position:absolute;
  left:590px;
  top:1773px;
  width:117px;
  height:86px;
}
#u8910 {
  position:absolute;
  left:2px;
  top:35px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8911 {
  position:absolute;
  left:863px;
  top:2434px;
  width:117px;
  height:86px;
}
#u8912 {
  position:absolute;
  left:2px;
  top:35px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8913 {
  position:absolute;
  left:649px;
  top:1859px;
  width:0px;
  height:0px;
}
#u8913_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u8913_seg1 {
  position:absolute;
  left:-4px;
  top:247px;
  width:281px;
  height:8px;
}
#u8913_seg2 {
  position:absolute;
  left:269px;
  top:247px;
  width:8px;
  height:328px;
}
#u8914 {
  position:absolute;
  left:123px;
  top:244px;
  width:100px;
  word-wrap:break-word;
}
#u8915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:827px;
}
#u8915 {
  position:absolute;
  left:1110px;
  top:1700px;
  width:411px;
  height:827px;
}
#u8916 {
  position:absolute;
  left:2px;
  top:406px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8917 {
  position:absolute;
  left:1127px;
  top:1773px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8918 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  word-wrap:break-word;
}
#u8919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8919 {
  position:absolute;
  left:1127px;
  top:1773px;
  width:375px;
  height:20px;
}
#u8920 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8921 {
  position:absolute;
  left:1373px;
  top:2434px;
  width:117px;
  height:86px;
}
#u8922 {
  position:absolute;
  left:2px;
  top:35px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8925 {
  position:absolute;
  left:1127px;
  top:1793px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8926 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8928 {
  position:absolute;
  left:1127px;
  top:1793px;
  width:100px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8929 {
  position:absolute;
  left:10px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u8930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8930 {
  position:absolute;
  left:1127px;
  top:1803px;
  width:24px;
  height:24px;
}
#u8931 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8932 {
  position:absolute;
  left:1468px;
  top:1803px;
  width:24px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8933 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u8934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8934 {
  position:absolute;
  left:1130px;
  top:1797px;
  width:50px;
  height:36px;
}
#u8935 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8936 {
  position:absolute;
  left:1180px;
  top:1797px;
  width:50px;
  height:36px;
}
#u8937 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8938 {
  position:absolute;
  left:1155px;
  top:1833px;
  width:0px;
  height:0px;
}
#u8938_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:281px;
}
#u8938_seg1 {
  position:absolute;
  left:-4px;
  top:273px;
  width:285px;
  height:8px;
}
#u8938_seg2 {
  position:absolute;
  left:273px;
  top:273px;
  width:8px;
  height:328px;
}
#u8939 {
  position:absolute;
  left:112px;
  top:270px;
  width:100px;
  word-wrap:break-word;
}
#u8940 {
  position:absolute;
  left:1205px;
  top:1833px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8940_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:281px;
}
#u8940_seg1 {
  position:absolute;
  left:-4px;
  top:273px;
  width:235px;
  height:8px;
}
#u8940_seg2 {
  position:absolute;
  left:223px;
  top:273px;
  width:8px;
  height:328px;
}
#u8941 {
  position:absolute;
  left:87px;
  top:269px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
