body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(68, 138, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8763 {
  position:absolute;
  left:610px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8764 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8765 {
  position:absolute;
  left:610px;
  top:215px;
  width:375px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8766 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  word-wrap:break-word;
}
#u8767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u8767 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:224px;
  color:#CCCCCC;
  line-height:28px;
}
#u8768 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u8769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:83px;
}
#u8769 {
  position:absolute;
  left:850px;
  top:280px;
  width:60px;
  height:83px;
  color:#000000;
}
#u8770 {
  position:absolute;
  left:2px;
  top:34px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(68, 138, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8771 {
  position:absolute;
  left:1070px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8772 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8773 {
  position:absolute;
  left:1070px;
  top:215px;
  width:375px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8774 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  word-wrap:break-word;
}
#u8775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8776 {
  position:absolute;
  left:1320px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8777 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8780 {
  position:absolute;
  left:1320px;
  top:100px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8781 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8783 {
  position:absolute;
  left:1320px;
  top:100px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8784 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8785 {
  position:absolute;
  left:1320px;
  top:110px;
  width:24px;
  height:24px;
}
#u8786 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8787 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8788 {
  position:absolute;
  left:2136px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8789 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8792 {
  position:absolute;
  left:2136px;
  top:100px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8793 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8795 {
  position:absolute;
  left:2136px;
  top:100px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8796 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8797 {
  position:absolute;
  left:2136px;
  top:110px;
  width:24px;
  height:24px;
}
#u8798 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8799 {
  position:absolute;
  left:1505px;
  top:100px;
  width:190px;
  height:667px;
}
#u8800 {
  position:absolute;
  left:2px;
  top:326px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8801 {
  position:absolute;
  left:410px;
  top:900px;
  width:90px;
  height:28px;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8802 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8803 {
  position:absolute;
  left:1060px;
  top:100px;
  width:70px;
  height:667px;
}
#u8804 {
  position:absolute;
  left:2px;
  top:326px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:83px;
}
#u8805 {
  position:absolute;
  left:2166px;
  top:120px;
  width:60px;
  height:83px;
  color:#000000;
}
#u8806 {
  position:absolute;
  left:2px;
  top:34px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8807 {
  position:absolute;
  left:2196px;
  top:203px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8807_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u8807_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:635px;
}
#u8807_seg2 {
  position:absolute;
  left:-880px;
  top:623px;
  width:884px;
  height:8px;
}
#u8807_seg3 {
  position:absolute;
  left:-880px;
  top:567px;
  width:8px;
  height:64px;
}
#u8807_seg4 {
  position:absolute;
  left:-886px;
  top:560px;
  width:20px;
  height:21px;
}
#u8808 {
  position:absolute;
  left:-204px;
  top:609px;
  width:100px;
  word-wrap:break-word;
}
#u8809 {
  position:absolute;
  left:1258px;
  top:767px;
  width:0px;
  height:0px;
}
#u8809_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u8809_seg1 {
  position:absolute;
  left:-464px;
  top:59px;
  width:468px;
  height:8px;
}
#u8809_seg2 {
  position:absolute;
  left:-464px;
  top:0px;
  width:8px;
  height:67px;
}
#u8809_seg3 {
  position:absolute;
  left:-470px;
  top:-7px;
  width:20px;
  height:21px;
}
#u8810 {
  position:absolute;
  left:-280px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8812 {
  position:absolute;
  left:1645px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8813 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u8815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8816 {
  position:absolute;
  left:1645px;
  top:100px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u8817 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8819 {
  position:absolute;
  left:1645px;
  top:100px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8820 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8821 {
  position:absolute;
  left:1645px;
  top:110px;
  width:24px;
  height:24px;
}
#u8822 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8823 {
  position:absolute;
  left:1645px;
  top:144px;
  width:70px;
  height:623px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8824 {
  position:absolute;
  left:2px;
  top:276px;
  width:66px;
  word-wrap:break-word;
}
#u8825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:82px;
}
#u8825 {
  position:absolute;
  left:1660px;
  top:518px;
  width:60px;
  height:82px;
  color:#000000;
}
#u8826 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8827 {
  position:absolute;
  left:1320px;
  top:100px;
  width:0px;
  height:0px;
}
#u8827_seg0 {
  position:absolute;
  left:-4px;
  top:-64px;
  width:8px;
  height:64px;
}
#u8827_seg1 {
  position:absolute;
  left:-4px;
  top:-64px;
  width:521px;
  height:8px;
}
#u8827_seg2 {
  position:absolute;
  left:509px;
  top:-64px;
  width:8px;
  height:64px;
}
#u8827_seg3 {
  position:absolute;
  left:503px;
  top:-14px;
  width:20px;
  height:21px;
}
#u8828 {
  position:absolute;
  left:206px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8829 {
  position:absolute;
  left:1690px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8829_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:234px;
}
#u8829_seg1 {
  position:absolute;
  left:-374px;
  top:226px;
  width:378px;
  height:8px;
}
#u8829_seg2 {
  position:absolute;
  left:-374px;
  top:170px;
  width:8px;
  height:64px;
}
#u8829_seg3 {
  position:absolute;
  left:-380px;
  top:163px;
  width:20px;
  height:21px;
}
#u8830 {
  position:absolute;
  left:-150px;
  top:210px;
  width:100px;
  word-wrap:break-word;
}
#u8831 {
  position:absolute;
  left:880px;
  top:280px;
  width:0px;
  height:0px;
}
#u8831_seg0 {
  position:absolute;
  left:-4px;
  top:-244px;
  width:8px;
  height:244px;
}
#u8831_seg1 {
  position:absolute;
  left:-4px;
  top:-244px;
  width:386px;
  height:8px;
}
#u8831_seg2 {
  position:absolute;
  left:374px;
  top:-244px;
  width:8px;
  height:64px;
}
#u8831_seg3 {
  position:absolute;
  left:368px;
  top:-194px;
  width:20px;
  height:21px;
}
#u8832 {
  position:absolute;
  left:49px;
  top:-248px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u8833 {
  position:absolute;
  left:1020px;
  top:900px;
  width:320px;
  height:569px;
}
#u8834 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8835 {
  position:absolute;
  left:610px;
  top:1479px;
  width:320px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8836 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u8837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u8837 {
  position:absolute;
  left:610px;
  top:900px;
  width:320px;
  height:569px;
}
#u8838 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8839 {
  position:absolute;
  left:1020px;
  top:1479px;
  width:320px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8840 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u8841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
  line-height:28px;
}
#u8841 {
  position:absolute;
  left:100px;
  top:1700px;
  width:400px;
  height:168px;
  font-size:18px;
  color:#CCCCCC;
  line-height:28px;
}
#u8842 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u8843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:827px;
}
#u8843 {
  position:absolute;
  left:600px;
  top:1700px;
  width:411px;
  height:827px;
}
#u8844 {
  position:absolute;
  left:2px;
  top:406px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8845 {
  position:absolute;
  left:617px;
  top:1773px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8846 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8847 {
  position:absolute;
  left:617px;
  top:1773px;
  width:375px;
  height:20px;
}
#u8848 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8851 {
  position:absolute;
  left:617px;
  top:1793px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8852 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8854 {
  position:absolute;
  left:617px;
  top:1793px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8855 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u8856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8856 {
  position:absolute;
  left:617px;
  top:1803px;
  width:24px;
  height:24px;
}
#u8857 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8858 {
  position:absolute;
  left:958px;
  top:1803px;
  width:24px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8859 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u8860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8860 {
  position:absolute;
  left:590px;
  top:1773px;
  width:117px;
  height:86px;
}
#u8861 {
  position:absolute;
  left:2px;
  top:35px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8862 {
  position:absolute;
  left:863px;
  top:2434px;
  width:117px;
  height:86px;
}
#u8863 {
  position:absolute;
  left:2px;
  top:35px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8864 {
  position:absolute;
  left:649px;
  top:1859px;
  width:0px;
  height:0px;
}
#u8864_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u8864_seg1 {
  position:absolute;
  left:-4px;
  top:247px;
  width:281px;
  height:8px;
}
#u8864_seg2 {
  position:absolute;
  left:269px;
  top:247px;
  width:8px;
  height:328px;
}
#u8865 {
  position:absolute;
  left:123px;
  top:244px;
  width:100px;
  word-wrap:break-word;
}
#u8866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:827px;
}
#u8866 {
  position:absolute;
  left:1110px;
  top:1700px;
  width:411px;
  height:827px;
}
#u8867 {
  position:absolute;
  left:2px;
  top:406px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8868 {
  position:absolute;
  left:1127px;
  top:1773px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u8869 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  word-wrap:break-word;
}
#u8870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8870 {
  position:absolute;
  left:1127px;
  top:1773px;
  width:375px;
  height:20px;
}
#u8871 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8872 {
  position:absolute;
  left:1373px;
  top:2434px;
  width:117px;
  height:86px;
}
#u8873 {
  position:absolute;
  left:2px;
  top:35px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8876 {
  position:absolute;
  left:1127px;
  top:1793px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8877 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u8878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u8879 {
  position:absolute;
  left:1127px;
  top:1793px;
  width:100px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u8880 {
  position:absolute;
  left:10px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u8881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8881 {
  position:absolute;
  left:1127px;
  top:1803px;
  width:24px;
  height:24px;
}
#u8882 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8883 {
  position:absolute;
  left:1468px;
  top:1803px;
  width:24px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8884 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
#u8885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8885 {
  position:absolute;
  left:1130px;
  top:1797px;
  width:50px;
  height:36px;
}
#u8886 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:148px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8887 {
  position:absolute;
  left:1180px;
  top:1797px;
  width:50px;
  height:36px;
}
#u8888 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8889 {
  position:absolute;
  left:1155px;
  top:1833px;
  width:0px;
  height:0px;
}
#u8889_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:281px;
}
#u8889_seg1 {
  position:absolute;
  left:-4px;
  top:273px;
  width:285px;
  height:8px;
}
#u8889_seg2 {
  position:absolute;
  left:273px;
  top:273px;
  width:8px;
  height:328px;
}
#u8890 {
  position:absolute;
  left:112px;
  top:270px;
  width:100px;
  word-wrap:break-word;
}
#u8891 {
  position:absolute;
  left:1205px;
  top:1833px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8891_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:281px;
}
#u8891_seg1 {
  position:absolute;
  left:-4px;
  top:273px;
  width:235px;
  height:8px;
}
#u8891_seg2 {
  position:absolute;
  left:223px;
  top:273px;
  width:8px;
  height:328px;
}
#u8892 {
  position:absolute;
  left:87px;
  top:269px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
