body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u8003 {
  position:absolute;
  left:100px;
  top:100px;
  width:600px;
  height:168px;
  line-height:28px;
}
#u8004 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u8006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u8006 {
  position:absolute;
  left:100px;
  top:290px;
  width:375px;
  height:667px;
}
#u8007 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
