body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:543px;
}
#u7669 {
  position:absolute;
  left:500px;
  top:220px;
  width:467px;
  height:543px;
}
#u7670 {
  position:absolute;
  left:2px;
  top:264px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u7671 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:28px;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u7672 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u7673 {
  position:absolute;
  left:600px;
  top:1700px;
  visibility:hidden;
}
#u7673_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7673_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7674 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7675 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7677 {
  position:absolute;
  left:870px;
  top:240px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7677_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u7677_seg1 {
  position:absolute;
  left:187px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7678 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7679 {
  position:absolute;
  left:1070px;
  top:208px;
  width:100px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7680 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7681 {
  position:absolute;
  left:1070px;
  top:306px;
  width:100px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7682 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7683 {
  position:absolute;
  left:900px;
  top:260px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7683_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u7683_seg1 {
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:86px;
}
#u7683_seg2 {
  position:absolute;
  left:86px;
  top:74px;
  width:84px;
  height:8px;
}
#u7683_seg3 {
  position:absolute;
  left:157px;
  top:68px;
  width:20px;
  height:20px;
}
#u7684 {
  position:absolute;
  left:40px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7685 {
  position:absolute;
  left:1070px;
  top:668px;
  width:100px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7686 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u7687 {
  position:absolute;
  left:100px;
  top:220px;
  width:320px;
  height:569px;
}
#u7688 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7689 {
  position:absolute;
  left:1070px;
  top:428px;
  width:100px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7690 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7691 {
  position:absolute;
  left:890px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7691_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u7691_seg1 {
  position:absolute;
  left:167px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7692 {
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7693 {
  position:absolute;
  left:500px;
  top:172px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7694 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7695 {
  position:absolute;
  left:750px;
  top:800px;
  width:100px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u7696 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u7697 {
  position:absolute;
  left:910px;
  top:700px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7697_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:164px;
  height:8px;
}
#u7697_seg1 {
  position:absolute;
  left:147px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7698 {
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7699 {
  position:absolute;
  left:100px;
  top:172px;
  width:166px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7700 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u7701 {
  position:absolute;
  left:630px;
  top:730px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7701_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:106px;
}
#u7701_seg1 {
  position:absolute;
  left:-4px;
  top:98px;
  width:124px;
  height:8px;
}
#u7701_seg2 {
  position:absolute;
  left:107px;
  top:92px;
  width:20px;
  height:20px;
}
#u7702 {
  position:absolute;
  left:-41px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7703 {
  position:absolute;
  left:100px;
  top:998px;
  width:300px;
  height:191px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7704 {
  position:absolute;
  left:2px;
  top:83px;
  width:296px;
  word-wrap:break-word;
}
#u7705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7705 {
  position:absolute;
  left:100px;
  top:939px;
  width:401px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7706 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u7707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7707 {
  position:absolute;
  left:100px;
  top:1329px;
  width:300px;
  height:191px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7708 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  word-wrap:break-word;
}
#u7709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7709 {
  position:absolute;
  left:420px;
  top:1329px;
  width:300px;
  height:191px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7710 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  word-wrap:break-word;
}
#u7711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7711 {
  position:absolute;
  left:740px;
  top:1329px;
  width:300px;
  height:191px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7712 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u7713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7713 {
  position:absolute;
  left:1060px;
  top:1329px;
  width:300px;
  height:191px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7714 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u7715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7715 {
  position:absolute;
  left:1380px;
  top:1329px;
  width:300px;
  height:191px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7716 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u7717 {
  position:absolute;
  left:250px;
  top:1189px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7717_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u7717_seg1 {
  position:absolute;
  left:-10px;
  top:127px;
  width:20px;
  height:20px;
}
#u7718 {
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7719 {
  position:absolute;
  left:250px;
  top:1189px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7719_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u7719_seg1 {
  position:absolute;
  left:-4px;
  top:46px;
  width:328px;
  height:8px;
}
#u7719_seg2 {
  position:absolute;
  left:316px;
  top:46px;
  width:8px;
  height:94px;
}
#u7719_seg3 {
  position:absolute;
  left:310px;
  top:127px;
  width:20px;
  height:20px;
}
#u7720 {
  position:absolute;
  left:130px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7721 {
  position:absolute;
  left:250px;
  top:1189px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7721_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u7721_seg1 {
  position:absolute;
  left:-4px;
  top:46px;
  width:648px;
  height:8px;
}
#u7721_seg2 {
  position:absolute;
  left:636px;
  top:46px;
  width:8px;
  height:94px;
}
#u7721_seg3 {
  position:absolute;
  left:630px;
  top:127px;
  width:20px;
  height:20px;
}
#u7722 {
  position:absolute;
  left:290px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7723 {
  position:absolute;
  left:250px;
  top:1189px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7723_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u7723_seg1 {
  position:absolute;
  left:-4px;
  top:46px;
  width:968px;
  height:8px;
}
#u7723_seg2 {
  position:absolute;
  left:956px;
  top:46px;
  width:8px;
  height:94px;
}
#u7723_seg3 {
  position:absolute;
  left:950px;
  top:127px;
  width:20px;
  height:20px;
}
#u7724 {
  position:absolute;
  left:450px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7725 {
  position:absolute;
  left:250px;
  top:1189px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u7725_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u7725_seg1 {
  position:absolute;
  left:-4px;
  top:46px;
  width:1288px;
  height:8px;
}
#u7725_seg2 {
  position:absolute;
  left:1276px;
  top:46px;
  width:8px;
  height:94px;
}
#u7725_seg3 {
  position:absolute;
  left:1270px;
  top:127px;
  width:20px;
  height:20px;
}
#u7726 {
  position:absolute;
  left:610px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7727 {
  position:absolute;
  left:100px;
  top:1969px;
  width:406px;
  height:51px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7728 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u7729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:358px;
}
#u7729 {
  position:absolute;
  left:100px;
  top:1601px;
  width:900px;
  height:358px;
}
#u7730 {
  position:absolute;
  left:2px;
  top:171px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:389px;
}
#u7731 {
  position:absolute;
  left:100px;
  top:2090px;
  width:900px;
  height:389px;
}
#u7732 {
  position:absolute;
  left:2px;
  top:186px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7733 {
  position:absolute;
  left:100px;
  top:2490px;
  width:417px;
  height:51px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u7734 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
