body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u8106 {
  position:absolute;
  left:100px;
  top:100px;
  width:600px;
  height:224px;
  color:#CCCCCC;
  line-height:28px;
}
#u8107 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u8108 {
  position:absolute;
  left:100px;
  top:360px;
  width:320px;
  height:569px;
}
#u8109 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:549px;
}
#u8110 {
  position:absolute;
  left:520px;
  top:360px;
  width:320px;
  height:549px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:549px;
}
#u8112 {
  position:absolute;
  left:590px;
  top:420px;
  width:320px;
  height:549px;
}
#u8113 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114 {
  position:absolute;
  left:810px;
  top:371px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u8114_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:164px;
  height:8px;
}
#u8114_seg1 {
  position:absolute;
  left:156px;
  top:-4px;
  width:8px;
  height:61px;
}
#u8114_seg2 {
  position:absolute;
  left:156px;
  top:49px;
  width:64px;
  height:8px;
}
#u8114_seg3 {
  position:absolute;
  left:207px;
  top:43px;
  width:20px;
  height:20px;
}
#u8115 {
  position:absolute;
  left:86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:127px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8116 {
  position:absolute;
  left:1030px;
  top:360px;
  width:200px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8117 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u8118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:127px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8118 {
  position:absolute;
  left:1030px;
  top:533px;
  width:200px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8119 {
  position:absolute;
  left:2px;
  top:21px;
  width:196px;
  word-wrap:break-word;
}
#u8120 {
  position:absolute;
  left:810px;
  top:470px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u8120_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u8120_seg1 {
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:135px;
}
#u8120_seg2 {
  position:absolute;
  left:146px;
  top:123px;
  width:74px;
  height:8px;
}
#u8120_seg3 {
  position:absolute;
  left:207px;
  top:117px;
  width:20px;
  height:20px;
}
#u8121 {
  position:absolute;
  left:100px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u8122 {
  position:absolute;
  left:1330px;
  top:728px;
  width:406px;
  height:51px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u8123 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u8124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:358px;
}
#u8124 {
  position:absolute;
  left:1330px;
  top:360px;
  width:900px;
  height:358px;
}
#u8125 {
  position:absolute;
  left:2px;
  top:171px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
