body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u5018 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:1160px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u5019 {
  position:absolute;
  left:2px;
  top:572px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5020 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:20px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u5022 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:140px;
  color:#CCCCCC;
  line-height:28px;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  text-align:left;
}
#u5024 {
  position:absolute;
  left:600px;
  top:204px;
  width:375px;
  height:140px;
  text-align:left;
}
#u5025 {
  position:absolute;
  left:14px;
  top:12px;
  width:347px;
  word-wrap:break-word;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  text-align:left;
}
#u5026 {
  position:absolute;
  left:600px;
  top:354px;
  width:375px;
  height:180px;
  text-align:left;
}
#u5027 {
  position:absolute;
  left:14px;
  top:12px;
  width:347px;
  word-wrap:break-word;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  text-align:left;
}
#u5029 {
  position:absolute;
  left:600px;
  top:587px;
  width:375px;
  height:140px;
  text-align:left;
}
#u5030 {
  position:absolute;
  left:14px;
  top:12px;
  width:347px;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5031 {
  position:absolute;
  left:614px;
  top:605px;
  width:24px;
  height:24px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5033 {
  position:absolute;
  left:614px;
  top:174px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5035 {
  position:absolute;
  left:614px;
  top:557px;
  width:169px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5037 {
  position:absolute;
  left:614px;
  top:755px;
  width:211px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5038 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u5041 {
  position:absolute;
  left:600px;
  top:785px;
  width:375px;
  height:184px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u5042 {
  position:absolute;
  left:14px;
  top:84px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  text-align:left;
}
#u5044 {
  position:absolute;
  left:612px;
  top:785px;
  width:351px;
  height:140px;
  text-align:left;
}
#u5045 {
  position:absolute;
  left:0px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5046 {
  position:absolute;
  left:614px;
  top:803px;
  width:24px;
  height:24px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u5050 {
  position:absolute;
  left:612px;
  top:925px;
  width:351px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u5051 {
  position:absolute;
  left:0px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u5052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5052 {
  position:absolute;
  left:939px;
  top:935px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5053 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u5056 {
  position:absolute;
  left:600px;
  top:120px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u5057 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u5059 {
  position:absolute;
  left:600px;
  top:120px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u5060 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5061 {
  position:absolute;
  left:600px;
  top:130px;
  width:24px;
  height:24px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5063 {
  position:absolute;
  left:600px;
  top:1040px;
  width:375px;
  height:140px;
}
#u5064 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u5065 {
  position:absolute;
  left:608px;
  top:1050px;
  width:120px;
  height:120px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5067 {
  position:absolute;
  left:612px;
  top:1010px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(228, 228, 228, 0.349019607843137);
  text-align:left;
}
#u5070 {
  position:absolute;
  left:738px;
  top:1050px;
  width:222px;
  height:108px;
  text-align:left;
}
#u5071 {
  position:absolute;
  left:0px;
  top:6px;
  width:222px;
  word-wrap:break-word;
}
