body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:100px;
  top:530px;
  width:375px;
  height:667px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1308 {
  position:absolute;
  left:100px;
  top:530px;
  width:375px;
  height:20px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1311 {
  position:absolute;
  left:138px;
  top:646px;
  width:300px;
  height:24px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1313 {
  position:absolute;
  left:138px;
  top:680px;
  width:180px;
  height:24px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1315 {
  position:absolute;
  left:138px;
  top:722px;
  width:300px;
  height:24px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:138px;
  top:756px;
  width:300px;
  height:24px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  position:absolute;
  left:138px;
  top:790px;
  width:300px;
  height:24px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:138px;
  top:824px;
  width:160px;
  height:24px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:184px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  position:absolute;
  left:138px;
  top:866px;
  width:300px;
  height:184px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1325 {
  position:absolute;
  left:138px;
  top:1060px;
  width:300px;
  height:24px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1327 {
  position:absolute;
  left:138px;
  top:1094px;
  width:300px;
  height:24px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1329 {
  position:absolute;
  left:138px;
  top:1128px;
  width:240px;
  height:24px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1331 {
  position:absolute;
  left:138px;
  top:576px;
  width:300px;
  height:60px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1333 {
  position:absolute;
  left:158px;
  top:844px;
  width:260px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1334 {
  position:absolute;
  left:20px;
  top:9px;
  width:220px;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1335 {
  position:absolute;
  left:100px;
  top:1210px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:560px;
  top:530px;
  width:375px;
  height:667px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1339 {
  position:absolute;
  left:560px;
  top:530px;
  width:375px;
  height:20px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1342 {
  position:absolute;
  left:598px;
  top:646px;
  width:300px;
  height:24px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:598px;
  top:680px;
  width:180px;
  height:24px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:598px;
  top:722px;
  width:300px;
  height:24px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:598px;
  top:756px;
  width:300px;
  height:24px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  position:absolute;
  left:598px;
  top:790px;
  width:300px;
  height:24px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:598px;
  top:824px;
  width:160px;
  height:24px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:184px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  position:absolute;
  left:598px;
  top:866px;
  width:300px;
  height:184px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:84px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:598px;
  top:1060px;
  width:300px;
  height:24px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1358 {
  position:absolute;
  left:598px;
  top:1094px;
  width:300px;
  height:24px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1360 {
  position:absolute;
  left:598px;
  top:1128px;
  width:240px;
  height:24px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1362 {
  position:absolute;
  left:598px;
  top:576px;
  width:300px;
  height:60px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:618px;
  top:1108px;
  width:260px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1366 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1367 {
  position:absolute;
  left:560px;
  top:1210px;
  width:375px;
  height:60px;
  color:#CCCCCC;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1369 {
  position:absolute;
  left:628px;
  top:844px;
  visibility:hidden;
}
#u1369_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1369_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1371 {
  position:absolute;
  left:20px;
  top:9px;
  width:200px;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u1372 {
  position:absolute;
  left:100px;
  top:422px;
  width:600px;
  height:84px;
  color:#CCCCCC;
  line-height:28px;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u1374 {
  position:absolute;
  left:100px;
  top:1360px;
  width:600px;
  height:84px;
  color:#CCCCCC;
  line-height:28px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1376 {
  position:absolute;
  left:100px;
  top:2140px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1379 {
  position:absolute;
  left:570px;
  top:1734px;
  width:148px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1380 {
  position:absolute;
  left:2px;
  top:84px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381 {
  position:absolute;
  left:628px;
  top:1757px;
}
#u1381_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1381_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1382_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1382_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1381_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u1386 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u1387 {
  position:absolute;
  left:570px;
  top:1810px;
  width:148px;
  height:22px;
  overflow:hidden;
}
#u1387_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1387_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1389 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u1387_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1387_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1392 {
  position:absolute;
  left:570px;
  top:1868px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1395 {
  position:absolute;
  left:780px;
  top:1734px;
  width:148px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1396 {
  position:absolute;
  left:2px;
  top:84px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397 {
  position:absolute;
  left:838px;
  top:1757px;
}
#u1397_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1397_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1398_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1398_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1397_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u1402 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  word-wrap:break-word;
}
#u1403 {
  position:absolute;
  left:780px;
  top:1810px;
  width:148px;
  height:22px;
  overflow:hidden;
}
#u1403_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1403_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u1403_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1403_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1408 {
  position:absolute;
  left:100px;
  top:1460px;
  width:375px;
  height:667px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1410 {
  position:absolute;
  left:138px;
  top:1500px;
  width:197px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1412 {
  position:absolute;
  left:138px;
  top:1930px;
  width:300px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1413 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1415 {
  position:absolute;
  left:138px;
  top:1560px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1416 {
  position:absolute;
  left:10px;
  top:16px;
  width:280px;
  word-wrap:break-word;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1417 {
  position:absolute;
  left:148px;
  top:1548px;
  width:40px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1418 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1420 {
  position:absolute;
  left:138px;
  top:1640px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1421 {
  position:absolute;
  left:10px;
  top:16px;
  width:280px;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1422 {
  position:absolute;
  left:148px;
  top:1628px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1423 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1425 {
  position:absolute;
  left:138px;
  top:1720px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1426 {
  position:absolute;
  left:10px;
  top:16px;
  width:280px;
  word-wrap:break-word;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1427 {
  position:absolute;
  left:148px;
  top:1708px;
  width:50px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1428 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1429 {
  position:absolute;
  left:100px;
  top:1460px;
  width:375px;
  height:20px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1432 {
  position:absolute;
  left:138px;
  top:1810px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1433 {
  position:absolute;
  left:10px;
  top:16px;
  width:280px;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1434 {
  position:absolute;
  left:148px;
  top:1798px;
  width:60px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1435 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1437 {
  position:absolute;
  left:214px;
  top:1720px;
  width:148px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1438 {
  position:absolute;
  left:2px;
  top:78px;
  width:144px;
  word-wrap:break-word;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1439 {
  position:absolute;
  left:272px;
  top:1743px;
  width:32px;
  height:32px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1441 {
  position:absolute;
  left:100px;
  top:100px;
  width:600px;
  height:168px;
  line-height:28px;
}
#u1442 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u1444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2031px;
  height:2px;
}
#u1445 {
  position:absolute;
  left:100px;
  top:379px;
  width:2030px;
  height:1px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:-8px;
  width:2026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447 {
  position:absolute;
  left:100px;
  top:300px;
  width:365px;
  height:85px;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1449 {
  position:absolute;
  left:20px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u1450 {
  position:absolute;
  left:180px;
  top:0px;
  width:180px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u1451 {
  position:absolute;
  left:20px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2031px;
  height:2px;
}
#u1453 {
  position:absolute;
  left:100px;
  top:2379px;
  width:2030px;
  height:1px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:-8px;
  width:2026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455 {
  position:absolute;
  left:100px;
  top:2300px;
  width:365px;
  height:85px;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u1457 {
  position:absolute;
  left:20px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u1458 {
  position:absolute;
  left:180px;
  top:0px;
  width:180px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1459 {
  position:absolute;
  left:20px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u1460 {
  position:absolute;
  left:100px;
  top:2410px;
  width:400px;
  height:56px;
  color:#CCCCCC;
  line-height:28px;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:3800px;
}
#u1462 {
  position:absolute;
  left:100px;
  top:2490px;
  width:1200px;
  height:3800px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:1892px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
