body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8491 {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
}
#u8492 {
  position:absolute;
  left:2px;
  top:1137px;
  width:3026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u8493 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:84px;
  color:#CCCCCC;
  line-height:28px;
}
#u8494 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u8495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u8495 {
  position:absolute;
  left:600px;
  top:777px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u8496 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8497 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:667px;
}
#u8498 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8499 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:20px;
}
#u8500 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8502 {
  position:absolute;
  left:738px;
  top:180px;
  width:100px;
  height:100px;
}
#u8503 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8504 {
  position:absolute;
  left:756px;
  top:198px;
  width:64px;
  height:64px;
}
#u8505 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8506 {
  position:absolute;
  left:748px;
  top:302px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8507 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8509 {
  position:absolute;
  left:638px;
  top:364px;
  width:300px;
  height:24px;
}
#u8510 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8511 {
  position:absolute;
  left:638px;
  top:398px;
  width:180px;
  height:24px;
}
#u8512 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8513 {
  position:absolute;
  left:638px;
  top:440px;
  width:300px;
  height:24px;
}
#u8514 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8515 {
  position:absolute;
  left:638px;
  top:474px;
  width:300px;
  height:24px;
}
#u8516 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8517 {
  position:absolute;
  left:638px;
  top:508px;
  width:300px;
  height:24px;
}
#u8518 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u8520 {
  position:absolute;
  left:658px;
  top:567px;
  width:260px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u8521 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u8522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8522 {
  position:absolute;
  left:923px;
  top:130px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8523 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
