body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6418 {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
}
#u6419 {
  position:absolute;
  left:2px;
  top:1137px;
  width:3026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u6420 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:420px;
  color:#CCCCCC;
  line-height:28px;
}
#u6421 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u6422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u6422 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u6423 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6424 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:20px;
}
#u6425 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u6427 {
  position:absolute;
  left:600px;
  top:120px;
  width:375px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u6428 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u6429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u6430 {
  position:absolute;
  left:600px;
  top:120px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u6431 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u6432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6432 {
  position:absolute;
  left:600px;
  top:130px;
  width:24px;
  height:24px;
}
#u6433 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6434 {
  position:absolute;
  left:600px;
  top:777px;
  width:155px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6435 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u6437 {
  position:absolute;
  left:739px;
  top:256px;
  width:74px;
  height:74px;
}
#u6438 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6439 {
  position:absolute;
  left:813px;
  top:238px;
  width:64px;
  height:64px;
}
#u6440 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6441 {
  position:absolute;
  left:699px;
  top:210px;
  width:64px;
  height:64px;
}
#u6442 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6443 {
  position:absolute;
  left:773px;
  top:210px;
  width:64px;
  height:64px;
}
#u6444 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  line-height:28px;
}
#u6445 {
  position:absolute;
  left:638px;
  top:360px;
  width:300px;
  height:84px;
  font-size:18px;
  color:#666666;
  line-height:28px;
}
#u6446 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6447 {
  position:absolute;
  left:658px;
  top:476px;
  width:260px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6448 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
