body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u6802 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:476px;
  color:#CCCCCC;
  line-height:28px;
}
#u6803 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u6804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u6804 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u6805 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6806 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:20px;
}
#u6807 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u6809 {
  position:absolute;
  left:600px;
  top:120px;
  width:375px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u6810 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u6811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u6812 {
  position:absolute;
  left:600px;
  top:120px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u6813 {
  position:absolute;
  left:10px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u6814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6814 {
  position:absolute;
  left:600px;
  top:130px;
  width:24px;
  height:24px;
}
#u6815 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6816 {
  position:absolute;
  left:600px;
  top:777px;
  width:155px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6817 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u6819 {
  position:absolute;
  left:739px;
  top:256px;
  width:74px;
  height:74px;
}
#u6820 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6821 {
  position:absolute;
  left:813px;
  top:238px;
  width:64px;
  height:64px;
}
#u6822 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6823 {
  position:absolute;
  left:699px;
  top:210px;
  width:64px;
  height:64px;
}
#u6824 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6825 {
  position:absolute;
  left:773px;
  top:210px;
  width:64px;
  height:64px;
}
#u6826 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  line-height:28px;
}
#u6827 {
  position:absolute;
  left:638px;
  top:360px;
  width:300px;
  height:84px;
  font-size:18px;
  color:#666666;
  line-height:28px;
}
#u6828 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6829 {
  position:absolute;
  left:658px;
  top:476px;
  width:260px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6830 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
