body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6465 {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
}
#u6466 {
  position:absolute;
  left:2px;
  top:1137px;
  width:3026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u6467 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:84px;
  color:#CCCCCC;
  line-height:28px;
}
#u6468 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u6469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6469 {
  position:absolute;
  left:600px;
  top:777px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u6470 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6471 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:667px;
}
#u6472 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6473 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:20px;
}
#u6474 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6475 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6476 {
  position:absolute;
  left:738px;
  top:180px;
  width:100px;
  height:100px;
}
#u6477 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6478 {
  position:absolute;
  left:756px;
  top:198px;
  width:64px;
  height:64px;
}
#u6479 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6480 {
  position:absolute;
  left:748px;
  top:302px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6481 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6483 {
  position:absolute;
  left:638px;
  top:364px;
  width:300px;
  height:24px;
}
#u6484 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6485 {
  position:absolute;
  left:638px;
  top:398px;
  width:180px;
  height:24px;
}
#u6486 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6487 {
  position:absolute;
  left:638px;
  top:440px;
  width:300px;
  height:24px;
}
#u6488 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6489 {
  position:absolute;
  left:638px;
  top:474px;
  width:300px;
  height:24px;
}
#u6490 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6491 {
  position:absolute;
  left:638px;
  top:508px;
  width:300px;
  height:24px;
}
#u6492 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u6494 {
  position:absolute;
  left:658px;
  top:567px;
  width:260px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u6495 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
