body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7814 {
  position:absolute;
  left:0px;
  top:0px;
  width:3030px;
  height:2290px;
}
#u7815 {
  position:absolute;
  left:2px;
  top:1137px;
  width:3026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u7816 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:84px;
  color:#CCCCCC;
  line-height:28px;
}
#u7817 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u7818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u7818 {
  position:absolute;
  left:600px;
  top:777px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u7819 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7820 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:667px;
}
#u7821 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u7822 {
  position:absolute;
  left:600px;
  top:100px;
  width:375px;
  height:20px;
}
#u7823 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7825 {
  position:absolute;
  left:738px;
  top:180px;
  width:100px;
  height:100px;
}
#u7826 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7827 {
  position:absolute;
  left:756px;
  top:198px;
  width:64px;
  height:64px;
}
#u7828 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7829 {
  position:absolute;
  left:748px;
  top:302px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7830 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7832 {
  position:absolute;
  left:638px;
  top:364px;
  width:300px;
  height:24px;
}
#u7833 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7834 {
  position:absolute;
  left:638px;
  top:398px;
  width:180px;
  height:24px;
}
#u7835 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7836 {
  position:absolute;
  left:638px;
  top:440px;
  width:300px;
  height:24px;
}
#u7837 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7838 {
  position:absolute;
  left:638px;
  top:474px;
  width:300px;
  height:24px;
}
#u7839 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7840 {
  position:absolute;
  left:638px;
  top:508px;
  width:300px;
  height:24px;
}
#u7841 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u7843 {
  position:absolute;
  left:658px;
  top:567px;
  width:260px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CCFF;
}
#u7844 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u7845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7845 {
  position:absolute;
  left:923px;
  top:130px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7846 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
