body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8262 {
  position:absolute;
  left:100px;
  top:100px;
  width:113px;
  height:28px;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u8263 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:351px;
}
#u8264 {
  position:absolute;
  left:100px;
  top:180px;
  width:320px;
  height:351px;
}
#u8265 {
  position:absolute;
  left:2px;
  top:168px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:351px;
}
#u8266 {
  position:absolute;
  left:541px;
  top:180px;
  width:319px;
  height:351px;
}
#u8267 {
  position:absolute;
  left:2px;
  top:168px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8268 {
  position:absolute;
  left:100px;
  top:541px;
  width:319px;
  height:20px;
  color:#CCCCCC;
}
#u8269 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u8270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8270 {
  position:absolute;
  left:541px;
  top:541px;
  width:319px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u8271 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u8272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8272 {
  position:absolute;
  left:100px;
  top:600px;
  width:300px;
  height:191px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8273 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u8274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u8274 {
  position:absolute;
  left:510px;
  top:968px;
  width:406px;
  height:51px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u8275 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u8276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:358px;
}
#u8276 {
  position:absolute;
  left:510px;
  top:600px;
  width:900px;
  height:358px;
}
#u8277 {
  position:absolute;
  left:2px;
  top:171px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
