body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(96, 125, 139, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6840 {
  position:absolute;
  left:610px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6841 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u6842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6842 {
  position:absolute;
  left:610px;
  top:215px;
  width:375px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6843 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u6844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u6844 {
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:336px;
  color:#CCCCCC;
  line-height:28px;
}
#u6845 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u6846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:83px;
}
#u6846 {
  position:absolute;
  left:850px;
  top:280px;
  width:60px;
  height:83px;
  color:#000000;
}
#u6847 {
  position:absolute;
  left:2px;
  top:34px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(96, 125, 139, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6848 {
  position:absolute;
  left:1130px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6849 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6850 {
  position:absolute;
  left:1130px;
  top:215px;
  width:375px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6851 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u6852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(121, 85, 72, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6853 {
  position:absolute;
  left:1130px;
  top:440px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6854 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u6855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6856 {
  position:absolute;
  left:1130px;
  top:440px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6857 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u6858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u6858 {
  position:absolute;
  left:1130px;
  top:440px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u6859 {
  position:absolute;
  left:0px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u6860 {
  position:absolute;
  left:910px;
  top:322px;
  width:0px;
  height:0px;
}
#u6860_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:148px;
  height:8px;
}
#u6860_seg1 {
  position:absolute;
  left:136px;
  top:-4px;
  width:8px;
  height:120px;
}
#u6860_seg2 {
  position:absolute;
  left:136px;
  top:108px;
  width:88px;
  height:8px;
}
#u6860_seg3 {
  position:absolute;
  left:202px;
  top:98px;
  width:29px;
  height:28px;
}
#u6861 {
  position:absolute;
  left:90px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(121, 85, 72, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6863 {
  position:absolute;
  left:1700px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6864 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u6865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6866 {
  position:absolute;
  left:1700px;
  top:100px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6867 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u6868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u6868 {
  position:absolute;
  left:1700px;
  top:100px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u6869 {
  position:absolute;
  left:0px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u6870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6870 {
  position:absolute;
  left:1130px;
  top:767px;
  width:375px;
  height:667px;
}
#u6871 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6872 {
  position:absolute;
  left:1505px;
  top:434px;
  width:0px;
  height:0px;
}
#u6872_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:203px;
  height:8px;
}
#u6872_seg1 {
  position:absolute;
  left:177px;
  top:-14px;
  width:29px;
  height:28px;
}
#u6873 {
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6874 {
  position:absolute;
  left:400px;
  top:900px;
  width:100px;
  height:28px;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(96, 125, 139, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6876 {
  position:absolute;
  left:610px;
  top:900px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6877 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u6878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6878 {
  position:absolute;
  left:610px;
  top:1015px;
  width:375px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6879 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u6880 {
  position:absolute;
  left:610px;
  top:900px;
  visibility:hidden;
}
#u6880_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6880_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(121, 85, 72, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6882 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6883 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  word-wrap:break-word;
}
#u6884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u6887 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  font-size:16px;
  text-align:center;
}
#u6888 {
  position:absolute;
  left:0px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u6889p000 {
  position:absolute;
  left:1243px;
  top:619px;
  width:148px;
  height:2px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
#u6889p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:150px;
  height:4px;
}
#u6889p001 {
  position:absolute;
  left:1318px;
  top:693px;
  width:0px;
  height:0px;
}
#u6889p001_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:2px;
}
#u6889p002 {
  position:absolute;
  left:1308px;
  top:542px;
  width:20px;
  height:20px;
}
#u6889p002_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:24px;
}
#u6889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6890 {
  position:absolute;
  left:1247px;
  top:612px;
  width:141px;
  visibility:hidden;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  word-wrap:break-word;
}
