body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u332 {
  position:absolute;
  left:100px;
  top:80px;
  width:400px;
  height:28px;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u334 {
  position:absolute;
  left:100px;
  top:134px;
  width:455px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  white-space:nowrap;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:471px;
}
#u337 {
  position:absolute;
  left:100px;
  top:220px;
  width:600px;
  height:471px;
}
#u338 {
  position:absolute;
  left:2px;
  top:228px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u339 {
  position:absolute;
  left:100px;
  top:172px;
  width:414px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  white-space:nowrap;
}
